<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit <%= item.model %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Edit <%= item.model %></h1>

    <form action="/items/<%=item._id%>?_method=PUT" method="POST">
        <div>
            <label for="make">Make:</label>
            <input type="text" name="make" id="make" value="<%= item.make %>" />
        </div>
        <div>
            <label for="model">Model:</label>
            <input type="text" name="model" id="model" value="<%= item.model %>" />
        </div>
        <div>
            <label for="year">Year</label>
            <input type="number" name="year" id="year" value="<%= item.year %>" />
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea name="description" id="description" value="<%= item.description %>" cols="30" rows="10"></textarea>
        </div>
        <button type="submit">Update Item</button>
    </form>
    <a class="items-index-link" href="/items">
        <div class="index-link-text">Back to All Items</div>
    </a>

</body>
</html>